/* --------logic_blocks_common-------- */

section.pageSection + section.pageSection {
	margin-top: $sectionMarginTopMobile;
}

section.pageSection:first-child {
  margin-top: $sectionMarginTopMobile;
}

article, .sectionBlock {
  box-sizing: border-box;
}


// article + article,
// .sectionBlock + .sectionBlock {
//   margin-top: $articleMarginMobile;
// }

.container {
  width: 100%;
  max-width: $containerWidth;
  padding: 0 $containerPadding;
  box-sizing: border-box;
  margin: 0 auto;
}

.flex {
  display: flex;
  &.spaceBetween {justify-content: space-between;}
  &.spaceAround {justify-content: space-around;}
  &.justifyCenter {justify-content: center;}
  &.center {align-items: center;}
  &.top {align-items: flex-start;}
  &.bottom {align-items: flex-end;}
  
  &.column {flex-direction: column;}
  
  .push-right {margin-left: auto;}
  .push-left {margin-right: auto;}

  &.wrap {flex-wrap: wrap;}

}

.flexRow {
  display: flex; 
  // flex-flow: row nowrap;
  box-sizing: border-box;
  margin-left: -( $articleMarginMobile / 2 );
  margin-right: -( $articleMarginMobile / 2 );

  article, .sectionBlock {
    padding: $articleMarginMobile / 2;
    box-sizing: border-box;    
  }

  article > article, 
  .sectionBlock > .sectionBlock,
  .sectionBlock > article,
  article > .sectionBlock {
    margin-left: -$articleMarginMobile / 2;
    margin-right: -$articleMarginMobile / 2;
  }

  article > div {
    height: 100%;
  }

  .sectionBlock:first-child {
    margin-top: 0;
  }

  .grow-0 {flex-grow: 0;}

  & > div,
  & > article {box-sizing: border-box;}
}
.flexRow.wrap {
  flex-wrap: wrap;
}

.row {
  box-sizing: border-box;
  margin-left: -( $articleMarginMobile / 2 );
  margin-right: -( $articleMarginMobile / 2 );
  & > div,
  & > article {box-sizing: border-box;}
}

body div.contentWrapper .no-margin {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}




.col-xs-12 {
  flex: 1 1 100%;
  width: 100%;
}
.col-xs-11 {
  flex: 1 1 91.66666667%;
  width: 91.66666667%;
}
.col-xs-10 {
  flex: 1 1 83.33333333%;
  width: 83.33333333%;
}
.col-xs-9 {
  flex: 1 1 75%;
  width: 75%;
}
.col-xs-8 {
  flex: 1 1 66.66666667%;
  width: 66.66666667%;
}
.col-xs-7 {
  flex: 1 1 58.33333333%;
  width: 58.33333333%;
}
.col-xs-6 {
  flex: 1 1 50%;
  width: 50%;
}
.col-xs-5 {
  flex: 1 1 41.66666667%;
  width: 41.66666667%;
}
.col-xs-4 {
  flex: 1 1 33.33333333%;
  width: 33.33333333%;
}
.col-xs-3 {
  flex: 1 1 25%;
  width: 25%;
}
.col-xs-20 {
  flex: 1 1 20%;
  width: 20%;
}
.col-xs-2 {
  flex: 1 1 16.66666667%;
  width: 16.66666667%;
}
.col-xs-1 {
  flex: 1 1 8.33333333%;
  width: 8.33333333%;
}
.col-xs-auto {
  flex: 1 1 auto;
  width: auto;
}


@media (min-width: 414px) {
  .col-xsm-12 {
    flex: 1 1 100%;
    width: 100%;
  }
  .col-xsm-11 {
    flex: 1 1 91.66666667%;
    width: 91.66666667%;
  }
  .col-xsm-10 {
    flex: 1 1 83.33333333%;
    width: 83.33333333%;
  }
  .col-xsm-9 {
    flex: 1 1 75%;
    width: 75%;
  }
  .col-xsm-8 {
    flex: 1 1 66.66666667%;
    width: 66.66666667%;
  }
  .col-xsm-7 {
    flex: 1 1 58.33333333%;
    width: 58.33333333%;
  }
  .col-xsm-6 {
    flex: 1 1 50%;
    width: 50%;
  }
  .col-xsm-5 {
    flex: 1 1 41.66666667%;
    width: 41.66666667%;
  }
  .col-xsm-4 {
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
  }
  .col-xsm-3 {
    flex: 1 1 25%;
    width: 25%;
  }
  .col-xsm-20 {
    flex: 1 1 20%;
    width: 20%;
  }
  .col-xsm-2 {
    flex: 1 1 16.66666667%;
    width: 16.66666667%;
  }
  .col-xsm-1 {
    flex: 1 1 8.33333333%;
    width: 8.33333333%;
  }
  .col-xsm-auto {
    flex: 1 1 auto;
    width: auto;
  }
}


@media (min-width: 768px) {
  .col-sm-12 {
    flex: 1 1 100%;
    width: 100%;
  }
  .col-sm-11 {
    flex: 1 1 91.66666667%;
    width: 91.66666667%;
  }
  .col-sm-10 {
    flex: 1 1 83.33333333%;
    width: 83.33333333%;
  }
  .col-sm-9 {
    flex: 1 1 75%;
    width: 75%;
  }
  .col-sm-8 {
    flex: 1 1 66.66666667%;
    width: 66.66666667%;
  }
  .col-sm-7 {
    flex: 1 1 58.33333333%;
    width: 58.33333333%;
  }
  .col-sm-6 {
    flex: 1 1 50%;
    width: 50%;
  }
  .col-sm-5 {
    flex: 1 1 41.66666667%;
    width: 41.66666667%;
  }
  .col-sm-4 {
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
  }
  .col-sm-3 {
    flex: 1 1 25%;
    width: 25%;
  }
  .col-sm-20 {
    flex: 1 1 20%;
    width: 20%;
  }
  .col-sm-2 {
    flex: 1 1 16.66666667%;
    width: 16.66666667%;
  }
  .col-sm-1 {
    flex: 1 1 8.33333333%;
    width: 8.33333333%;
  }
  .col-sm-auto {
    flex: 1 1 auto;
    width: auto;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    flex: 1 1 100%;
    width: 100%;
  }
  .col-md-11 {
    flex: 1 1 91.66666667%;
    width: 91.66666667%;
  }
  .col-md-10 {
    flex: 1 1 83.33333333%;
    width: 83.33333333%;
  }
  .col-md-9 {
    flex: 1 1 75%;
    width: 75%;
  }
  .col-md-8 {
    flex: 1 1 66.66666667%;
    width: 66.66666667%;
  }
  .col-md-7 {
    flex: 1 1 58.33333333%;
    width: 58.33333333%;
  }
  .col-md-6 {
    flex: 1 1 50%;
    width: 50%;
  }
  .col-md-5 {
    flex: 1 1 41.66666667%;
    width: 41.66666667%;
  }
  .col-md-4 {
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
  }
  .col-md-3 {
    flex: 1 1 25%;
    width: 25%;
  }
  .col-md-20 {
    flex: 1 1 20%;
    width: 20%;
  }
  .col-md-2 {
    flex: 1 1 16.66666667%;
    width: 16.66666667%;
  }
  .col-md-1 {
    flex: 1 1 8.33333333%;
    width: 8.33333333%;
  }
  .col-md-auto {
    flex: 1 1 auto;
    width: auto;
  }
}

@media (min-width: 1280px) {

  .col-lg-12 {
    flex: 1 1 100%;
    width: 100%;
  }
  .col-lg-11 {
    flex: 1 1 91.66666667%;
    width: 91.66666667%;
  }
  .col-lg-10 {
    flex: 1 1 83.33333333%;
    width: 83.33333333%;
  }
  .col-lg-9 {
    flex: 1 1 75%;
    width: 75%;
  }
  .col-lg-8 {
    flex: 1 1 66.66666667%;
    width: 66.66666667%;
  }
  .col-lg-7 {
    flex: 1 1 58.33333333%;
    width: 58.33333333%;
  }
  .col-lg-6 {
    flex: 1 1 50%;
    width: 50%;
  }
  .col-lg-5 {
    flex: 1 1 41.66666667%;
    width: 41.66666667%;
  }
  .col-lg-4 {
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
  }
  .col-lg-3 {
    flex: 1 1 25%;
    width: 25%;
  }
  .col-lg-20 {
    flex: 1 1 20%;
    width: 20%;
  }
  .col-lg-2 {
    flex: 1 1 16.66666667%;
    width: 16.66666667%;
  }
  .col-lg-1 {
    flex: 1 1 8.33333333%;
    width: 8.33333333%;
  }
  .col-lg-auto {
    flex: 1 1 auto;
    width: auto;
  }
}







// ======Media Quaries======
@media (min-width: 767px) {
  

	section.pageSection + section.pageSection {
		margin-top: $sectionMarginTopMobile;
	}

	// article, .sectionBlock {
	// 	margin: $articleMarginLaptop / 2;
	// }


}


@media (min-width: 991px) {

  section.pageSection:first-child {
    margin-top: $sectionMarginTopLaptop;
  }

  .container {
    padding: 0 $containerPaddingDesktop;
  }

  .flexRow {
    margin-left: -( $articleMarginLaptop / 2 );
    margin-right: -( $articleMarginLaptop / 2 );

    article, .sectionBlock {
      padding: $articleMarginLaptop / 2;
    }

    article > article, 
    .sectionBlock > .sectionBlock,
    .sectionBlock > article,
    article > .sectionBlock {
      margin-left: -$articleMarginLaptop / 2;
      margin-right: -$articleMarginLaptop / 2;
    }
  }
  
  

}

/* -----------Desktop------------- */
@media (min-width: 1279px) {

  .flexRow {
    margin-left: -( $articleMarginDesktop / 2 );
    margin-right: -( $articleMarginDesktop / 2 );

    article, .sectionBlock {
      padding: $articleMarginDesktop / 2;
    }

    article > article, 
    .sectionBlock > .sectionBlock,
    .sectionBlock > article,
    article > .sectionBlock {
      margin-left: -$articleMarginDesktop / 2;
      margin-right: -$articleMarginDesktop / 2;
    }
  }

	section.pageSection + section.pageSection {
		margin-top: $sectionMarginTopDesktop;
	}

}