.standardButton {
	padding: 1px 15px 0; 
	font-weight: bold;
	font-size: $normal;	
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	border: 1px solid;
	line-height: $standardButtonHeight - 2px;
}

.standardButton.black {
	// line-height: 38px;
	background-color: transparent;
	color: $mainFontColor;
	font-family: $titleFont;
	border-color: $primaryColor;

	&:hover {
		background-color: $primaryColor;
		color: $secondaryFontColor;
	}
}

.standardButton.red {
	// line-height: 30px;
	background-color: $secondaryColor;
	color: $headerFontColor;
	// font-size: $normal;
	border-color: $secondaryColor;

	&:hover {
		background-color: transparent;
		color: $secondaryColor;
	}
}

.standardButton.white {
	// line-height: 30px;
	background-color: transparent;
	color: $secondaryColor;
	// font-size: $normal;
	border-color: $secondaryColor;

	&:hover {
		background-color: $secondaryColor;
		color: $headerFontColor;
	}
}


// ----------Hidden Blocks----------

.darkOverlay,
.gradientOverlay {
	background-color: $darkOverlayColor;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: $darkOverlayZIndex;
}

.hiddenContent.height {
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-out;
}
.hiddenContent.right {
	// width: 0;
	// overflow: hidden;
	left: 100%;
	transition: left 0.4s ease-out;
}

.hiddenContent.scale {
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: transform 0.3s;

	&.opacityAnimate > div {
		opacity: 0;
		transition: opacity 0.2s ease-in-out 0.15s;
	}

	&.opacityAnimate:not(.showScale) {
		transition-delay: 0.1s;
		& > div {
			transition-delay: 0s;
		}
	}
}

.hideScale {
	transform: scale(0)!important;
}
.showScale {
	transform: scale(1)!important;
	
	&.opacityAnimate > div {
		opacity: 1!important;
	}
}

.hide {display: none !important;}
.show {display: block !important;}

.toggleBlock {
	display: none;

	&.active {
		display: block;
	}
}

// --------------------------
.main-video-wrapper {
	margin-top: 25px;
	position: relative;
	padding-bottom: 108%;
	height: 0;
	overflow: hidden;

	& > iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	}
}

// --------------------------
.description {

	.description-title {
		// font-family: $defaultFont;
		font-size: 1.5rem;
		line-height: 1.7rem;
		margin-bottom: 5px;
	}

	p {
		font-size: $descriptionFontSize;
		line-height: $descriptionLineHeight;
		// text-align: center;
		margin: 10px 0;
	}

	ul, ol {
		margin-top: 15px;
		& > li {
			margin-top: 10px;
			line-height: $descriptionLineHeight;
			// text-align: center;
			font-size: $descriptionFontSize;
		}
	}

	&.page-description {
		margin-top: 25px;
		p {
			// font-size: $large;
		}
		.link-wrapper {
			text-align: right;
		}
	}
}

// --------------------
// .sectionBlock.flex,
// article.flex {
// 	flex-direction: column;
	
// 	header {}

// 	.content {
// 		flex-grow: 1;
// 	}

// 	footer {
// 		margin-top: auto;
// 	}
// }


// ======Media=========
@media (min-width: 767px) {
	.main-video-wrapper {
		padding-bottom: 45%;
	}

	// ---------

}