html, body {
	height: 100%;
}

div.mainWrapper {
	height: inherit;
}
div.contentWrapper {
	height: inherit;
	display: flex;
	flex-direction: column;
}
div.content {
	flex: 1 1 auto;
}
footer.mainFooter {
	flex: 0 0 auto;
}