// ======Main Options=======
/* -----Color------- */
$primaryColor: #E32013;  
$secondaryColor: #FFD04A; 
$tertiaryColor: #E8E8E8;	
$fourthColor: #252829; 

$black: #000;
$white: #fff;


/* -----Fonts-----*/
$pageFontSize: 14px;
$mainFont: "Arial";
$mainFontColor: #1B1E1F;
$secondaryFontColor: $white;
// $descriptionTextColor: #8D8E8F;

/* ======Components Options======= */
/* ------Color---------- */
$mainBackgroundColor: $tertiaryColor;

$headerColor: $primaryColor;
$headerFontColor: $white;

$footerColor: $fourthColor;
$footerFontColor: $secondaryFontColor;

$mobileMenuColor: $primaryColor;

$formElementsBorderColor: $secondaryColor;
$formElementsFocusBorderColor: $primaryColor;

$linksColor: $fourthColor;

/* ------Fonts----------*/
$h1FontSize: 40px;
$h2FontSize: 24px;
$h3FontSize: 20px;

/* ------Sizes----------*/
// $headerHeight:
$pageMaxWidth: 1920px;

$formElementsHeight: 40px; 


/* ------Margins/Paddings------ */

// ---Optional (page-grid)-----
$containerWidth: 1815px;

$sectionMarginTopMobile: 30px;
$sectionMarginTopLaptop: 35px;
$sectionMarginTopDesktop: 40px;

$articleMarginMobile: 10px;
$articleMarginLaptop: 16px;
$articleMarginDesktop: 16px;

// ---Optional (collapse menu)-----
$collapseBefore: 992px;  // page width when menu should collapse

/* ------Z-index-------- */
$zMobileMenu: 100;
$zMobileMenuButton: $zMobileMenu;





